<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CarMapper">
	
	<insert id="insert" parameterType="car">
		INSERT INTO car VALUES (car_seq.nextval,(select mem_id from member where mem_car1 = #{car_num}),#{p_id},#{car_num},sysdate,null,null,null,3000)	
	</insert>
	
	<update id="update" parameterType="car">
		UPDATE car SET out_time=sysdate WHERE car_num=#{car_num} AND out_time IS NULL
	</update>
	
	<select id="select" parameterType="String" 
	resultType="car">
		SELECT * FROM car WHERE mem_id=#{mem_id}	
	</select>
	
	<select id="selectall" resultType="car">
		SELECT * FROM car order by in_time desc
	</select>
	<select id="carnumList" parameterType="String" resultType="car">
		SELECT * FROM car where car_num like '%'||#{carnum}||'%'  order by in_time desc
	</select>
	<select id="categorylist" parameterType="String" resultType="car">
		SELECT * FROM car where p_id=#{p_id} order by in_time desc
	</select>
	<select id="dateSearch" parameterType="String" resultType="car">
		<![CDATA[SELECT * FROM car where in_time between to_date(#{start},'YY/MM/DD') and to_date(#{end}, 'YY/MM/DD')+1 order by in_time desc ]]>
	</select>
	
	<select id="selectList" parameterType="String" resultType="car">
		SELECT * FROM car WHERE mem_id=#{mem_id} and out_time is not null
	</select>
	
	<select id="nowPayment" parameterType="String" resultType="car">
		SELECT * FROM car WHERE mem_id=#{mem_id} and out_time is null
	</select>
	
	<select id="seePayment" parameterType="String" resultType="String">
		SELECT ceil((sysdate - in_time)*24*60) FROM CAR WHERE MEM_ID = #{mem_id} AND OUT_TIME IS NULL
	</select>
	
	<update id="updatePayment" parameterType="car">
		UPDATE CAR SET payment=#{payment} WHERE mem_id=#{mem_id} AND out_time IS NULL
	</update>
	
	<select id="getTodayInfo" parameterType="String" resultType="today_count">
		select count(p_id) as count, sum(payment) as totalIncome from car where to_date(in_time,'YY/MM/DD') =TO_CHAR(SYSDATE, 'YYYY/MM/DD') and p_id =#{p_id}
	</select>
	
</mapper>






















