<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CarMapper">
	
	<insert id="insert" parameterType="car">
		INSERT INTO car VALUES (car_seq.nextval,(select mem_id from member where mem_car1 = #{car_num}),#{p_id},#{car_num},sysdate,null,null,null)	
	</insert>
	
	<update id="update" parameterType="car">
		UPDATE car SET out_time=sysdate WHERE car_num=#{car_num} AND out_time is null
	</update>
	
	<select id="select" parameterType="String" 
	resultType="car">
		SELECT * FROM car WHERE mem_id=#{mem_id}	
	</select>
	
	<select id="selectall" resultType="car">
		SELECT * FROM car
	</select>
	
</mapper>






















