<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ManagerMapper">
	<select id="login" resultType="manager" parameterType="manager">
		select * from manager where mgr_id=#{mgr_id} and mgr_pwd = #{mgr_pwd}
	</select>
	<select id="selectavgscore" parameterType="String" resultType="int">
        Select avg(score) from review where str_code=#{str_code} group by str_code
     </select>
</mapper>






















